.profile__image {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.profile__image:hover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.profile__edit-avatar {
  background: url('../../../images/pen.svg') no-repeat center;
  background-size: 26px 26px;
  border: none;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__image:hover .profile__edit-avatar {
  opacity: 1;
}
